@model Task_1.Models.Movie

<div class="card p-3 m-2 border rounded">
    <h5 class="mb-1">@Model.Title</h5>
    <div class="text-muted">Director: @Model.Director</div>
    <div>Release Year: @Model.ReleaseYear</div>
</div>
