@model IEnumerable<Task_1.Models.Movie>
@{
    ViewData["Title"] = "Movies List";
}

<h2>Movies</h2>

<div class="d-flex flex-wrap">
    @foreach (var movie in Model)
    {
        <partial name="_MovieCard" model="movie" />
    }
</div>
